
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@model IEnumerable<MiniProject1.Models.ClientProject>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container mt-4">
        <div class="row col-md-12 mx-auto">
            <table class="table table-striped text-center">
                <tr>
                    @Html.ActionLink("Create New","Create",null,new {@class="btn btn-warning col-md-2"})
                </tr>
                <tr>
                    <th><label>Sr No.</label></th>
                    <th><label>Project Name</label></th>
                    <th><label>Location Address</label></th>
                    <th><label>Location City</label></th>
                    <th><label>Client Name</label></th>
                    <th><label>Creation Date</label></th>
                    <th><label>Edit/Delete</label></th>
                </tr>
                @foreach (var temp in Model)
                {
                    <tr>
                        <td>@temp.ProjectId</td>
                        <td>@temp.ProjectName</td>
                        <td>@temp.LocationAddress</td>
                        <td>@temp.LocationCity</td>
                        <td>@temp.Client.ClientName</td>
                        <td>@temp.CreationDate</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit","ClientProject", new { area = "AdminArea", id = temp.ProjectId }, new { @class = "btn btn-success" }) |
                            @Html.ActionLink("Delete", "Delete","ClientProject", new { area = "AdminArea", id = temp.ProjectId }, new { @class = "btn btn-danger" })
                           
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>


