@model MiniProject1.Models.AdminChangePassVM
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</head>
<body>
    <div class="container">
        <div class="row col-md-12">
            <div class="row align-items-center mt-3">
                <div class="col-3 mx-auto">
                    <h2>Change Password</h2>
                    @using (Html.BeginForm())
                    {
                        <label>Password</label>
                        <br />
                        @Html.EditorFor(p => p.Password)<br />
                        @Html.ValidationMessageFor(p=>p.Password)
                        <br /><br />
                        <label>Confirm Password</label>
                        <br />
                        @Html.EditorFor(p => p.ConfPassword)<br />
                        @Html.ValidationMessageFor(p=>p.ConfPassword)
                        <br /><br />
                        <input type="submit" value="Update" class="btn btn-success" />
                        @Html.Hidden("AdminId")
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>

